{% extends 'base.html' %}
{% block title %}课程学院列表 caux-online{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>课程学院</li>
            </ul>
        </div>
</section>
{% endblock %}

{% block content %}
<section>
	<div class="wp butler_list_box list">
	    <div class='left'>
		<div class="all">共<span class="key">{{ college_nums }}</span>个学院</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li class="{% if sort == '' %}active{% endif %}">
                        <a href="?">全部</a>
                    </li>

					<li class="{% if sort == 'student_nums' %}active{% endif %}">
                        <a href="?sort=student_nums">学习人数 &#8595;</a>
                    </li>

					<li class="{% if sort == 'course_nums' %}active{% endif %}">
                        <a href="?sort=course_nums">课程数 &#8595;</a>
                    </li>

				</ul>
			</div>
            {%  for course_college in all_college.object_list %}
                <dl class="des difdes">
                    <dt>
                        <a href="{% url 'college:college_home' course_college.id %}">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ course_college.image }}"/>
                        </a>
                    </dt>
                    <dd>
                        <div class="clearfix">
                            <a href="{% url 'college:college_home' course_college.id %}">

                                <h1>{{ course_college.name }}</h1>
                                <div class="pic fl">
                                    <img src="{% static 'images/authentication.png' %}"/>
                                    <img src="{% static 'images/gold.png' %}"/>
                                </div>
                            </a>
                        </div>
                        <ul class="cont">
                            <li class="first"><p class="pic9">课程数：<span>{{ course_college.get_course_nums }}</span></p><p class="c7">学习人数：<span>1000</span></p></li>
                            <li class="c8" style="padding-left:18px;">{{ course_college.address }}</li>
{#                            <li class="pic10" style="padding-left:18px;">经典课程：#}
{#                                <a href="/diary/19/">c语言基础入门</a>#}
{#                                <a href="/diary/16/">数据库基础</a>#}
{#                            </li>#}
                        </ul>
                    </dd>
                    <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                </dl>
            {% endfor %}

		</div>


		 <!-- 分页器 -->
        <div class="pageturn">
          <ul class="pagelist">
            {% if all_college.has_previous %}
            <li class="long">
              <a href="?{{ all_college.previous_page_number.querystring }}" class="prev">上一页</a>
            </li>
            {% endif %}

            {% for page in all_college.pages %}
              {% if page %}
                {% ifequal page all_college.number %}
                  <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% else %}
                  <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
              {% else %}
                <li class="none"><a href="">...</a></li>
              {% endif %}
            {% endfor %}
            {% if all_college.has_next %}
              <li class="long"><a href="?{{ all_college.next_page_number.querystring }}">下一页</a></li>
            {% endif %}
          </ul>
        </div>

		</div>


	</div>
	    <div class="right companyright">
        <div class="head">我要学习</div>
            <form class="rightform" id="jsStayForm">
                <div>
                  <img src="{% static 'images/rightform1.png' %}"/>
                  <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25"/>
                </div>
                <div>
                  <img src="{% static 'images/rightform2.png' %}"/>
                  <input type="text" name="mobile" id="companyMobile" placeholder="联系电话"/>
                </div>
                <div>
                  <img src="{% static 'images/rightform3.png' %}"/>
                  <input type="text" name="course_name" id="companyAddress" placeholder="课程名" maxlength="50"/>
                </div>
                <p class="error company-tips" id="jsCompanyTips"></p>
                <input class="btn" type="text" id="jsStayBtn" value="立即咨询"/>
                {% csrf_token %}
            </form>
        </div>

		<div class="right companyrank layout">
			<div class="head">授课学院排名</div>

            {% for current_college in hot_colleges %}
                <dl class="des">
                    {# forloop.counter 用于计数 #}
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="/company/2/"><h1>{{ current_college.name }}</h1></a>
                        <p>{{ current_college.address }}</p>
                    </dd>
                </dl>
            {% endfor %}
		</div>
    </div>
</section>
{% endblock %}


{% block custom_js %}
{# 使用 ajax 处理用户 POST 的 user_ask 表单 #}
<script>
  $(function () {
    $('#jsStayBtn').on('click', function () {
      $.ajax({
        cache: false,
        type: "POST",
        dataType: "json",
        url: "{% url 'college:add_ask' %}",
        //表单提交可以用 serialize 方法把 csrf token 一块序列化过来
        data: $('#jsStayForm').serialize(),
        async: true,
        success: function (data) {
          if (data.status == 'success') {
            $('#jsStayForm')[0].reset();
            alert("提交成功")
          } else if (data.status == 'fail') {
            $('#jsCompanyTips').html(data.msg)
          }
        },
        {% comment %}error: function(error) {
          console.log('error')
          // console.log(error.responseText.msg)
        }{% endcomment %}
      });
    });
  })
</script>
{% endblock %}
